#wall {
    position: relative;
    height: 100%;
    width: 100%;

    color: #515151;
}

.writing {
    position: absolute;
    bottom: 30%;
    left: 30%;
    width: 40%;

    font-size: 3rem;

    /* Disable selection and 'text' cursor */
    user-select: none;
    cursor: default;
}

.cursor {
    display: inline-block;
    vertical-align: text-top;
    width: 0.1em;
    height: 1em; /* a whole character height */
    background-color: #515151;
}

/* Blinking */

.cursor {
    opacity: 0;
    animation-name: blink;
    animation-duration: 1.1s;
    /* Appear some time after the user stopped typing.*/
    /* It appears after all letters have disappeared */
    animation-delay: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: initial;
}

@keyframes blink {
    0% { opacity:0; }
    100% { opacity:1; }
}

.start-visible {
    animation-delay: 1s; /* Only wait one second before the first inputs */
}

#hidden-input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
