#wall {
    position: relative;
    height: 100%;
    width: 100%;

    color: #515151;
}

.writing {
    position: absolute;
    font-size: 32pt;
}

.cursor {
    display: inline-block;
    vertical-align: text-top;
    width: 0.1em;
    height: 1em;
    background-color: #515151;
}

/* Blinking */

.cursor {
    opacity: 1;
    -webkit-animation: blink 1.3s infinite;
    -moz-animation: blink 1.3s infinite;
    animation: blink 1.3s infinite;
    animation-timing-function: initial;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}