#wall {
    position: relative;
    height: 100%;
    width: 100%;

    color: #515151;
}

.writing {
    position: absolute;
    bottom: 30%;
    left: 30%;
    width: 40%;

    font-size: 3rem;
}

.cursor {
    display: inline-block;
    vertical-align: text-top;
    width: 0.1em;
    height: 1em; /* a whole character height */
    background-color: #515151;
}

/* Blinking */

.cursor {
    opacity: 1;
    -webkit-animation: blink 1.3s infinite;
    -moz-animation: blink 1.3s infinite;
    animation: blink 1.3s infinite;
    animation-timing-function: initial;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* #hidden-input { */
/*     position: absolute; */
/*     overflow: hidden; */
/*     clip: rect(0 0 0 0); */
/*     height: 1px; width: 1px; */
/*     margin: -1px; padding: 0; border: 0; */
/* } */
